nav {
	background-color:#aaaaaa;
}

h2 {
	background-image:url("../img/p5.png");
	background-position:bottom center;
	background-repeat:no-repeat;
	min-height:120px;
}

.triangleinfo {
	display:none !important;
}
